@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(165, 159, 159);
}  

header > h1 {
    padding: 10px;
    text-align: center;
}

nav {
    display: block;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: rgb(91, 91, 91);
        text-align: center;
        color: white;
        border-top: 2px solid gray;
}

nav a:hover {
    background-color: gray;
}

span#burguer {
    background-color: rgb(46, 46, 46);
    display: block;
    color: white;
    padding: 10px;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

main {
    margin: auto;
    width: 90vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}